body {
  text-align: center;
  margin: 0;
}
header {
  background-color: #f15b31;
  color: #fff;
  padding: 30px 20px;
}
nav {
  background-color: #00a6b3;
  color: #fff;
  padding: 20px auto;
}
main {
  width: 850px;
  margin: 35px auto;
}
footer {
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0d2c40;
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 45px;
  text-transform: uppercase;
  margin: 0;
}
h2 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
}
a {
  font-family: "Raleway", sans-serif;
  color: inherit;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  margin: auto 20px;
  text-decoration: none;
}
a:hover {
  border-bottom: 2px solid transparent;
  border-color: white;
  color: black;
}
img {
  margin: 40px 8px auto;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
.copyright .message {
  font-family: "Raleway", sans-serif;
}
.copyright {
  float: left;
}
.message {
  float: right;
}
.name {
  color: #f15B31;
  font-weight: 700;
}
.playAgain {
  box-shadow:inset 7px 10px 17px 7px #f7c5c0;
  background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  background-color:#fc8d83;
  border-radius:6px;
  border:1px solid #d83526;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:14px 43px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}
.playAgain:hover {
  background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
  background-color:#e4685d;
}
.playAgain:active {
  position: relative;
  top: 1px;
}
